body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 420px;
  background: #fff;

}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
}

/* SOLUTION */

/* disclaimer: duplicating the selectors here isn't best practice.
In your solution you probably put it right inside the existing selectors,
which _is_ the best practice.

We separated it out here to make it extra clear what has changed. */
  
.card {
  height:200px;
  margin: 18px auto;
  border: 1px solid white;
  box-sizing:border-box;
}

.title {
  padding: 8px;
  margin: 8px;
  font-size: 15px;
}

.content {
  padding: 12px;
  font-size: 15px;
  margin: 8px;
}

.button-container {
  text-align:center;
  margin: 8px ;
  padding:5px;
}
button {
  padding: 10px;
  padding: 10px;
  margin: 0 auto;
  display:block;
